certifi==2019.6.16
chardet==3.0.4
Click==7.0
ConfigArgParse==0.14.0
Cython==0.29.13
eflomal==0.1
fasttext==0.9.1
idna==2.8
joblib==0.13.2
nltk==3.4.5
numpy==1.17.1
Pillow==6.1.0
pybind11==2.3.0
requests==2.22.0
sacremoses==0.0.33
six==1.12.0
subword-nmt==0.3.6
torch==1.1.0
torchtext==0.4.0
tqdm==4.35.0
urllib3==1.25.3
